[submodule "glcxx"]
	path = glcxx
	url = https://github.com/gfuchedzhy/glcxx
[submodule "aersy"]
	path = aersy
	url = https://github.com/gfuchedzhy/aersy
[submodule "aersy-res"]
	path = aersy-res
	url = https://github.com/gfuchedzhy/aersy-res
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad
	branch = v0.1.12a
